body {
    text-align: center;
    background: linear-gradient(#0066ff 0%, #ff0000 100%);
}


h1 {
    text-shadow: 2px 2px red;
    font-size: 20px;

}

.menu {
    list-style: none;
    font-family: "Roboto";
    font-size: 20px;
    z-index: 9;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 30px;
}

.link {
    float: left;
    color: black;
    font-family: sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 9px;
    padding-top: 9px;
}

.link:hover {
    background-color: red;
}

p {
    font-size: 20px;
}

#para {
    padding: 50px;
    text-align: center;
    font-size: 40px;
}

#welcome {
    padding: 100px;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
}

#heading1 {
    font-size: 40px;
}
